@using System.Security.Claims

<ul class="navbar-nav">
    @if (User.Identity != null && User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <span class="nav-link text-dark">Olá @User.Identity.Name!</span>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" method="post" asp-controller="Conta" asp-action="Logout">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">Sair</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-controller="Conta" asp-action="Registrar">Registrar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-controller="Conta" asp-action="Login">Entrar</a>
        </li>
    }
</ul>
